

body{ 
	background-image:url("StockSnap_FR57CSWKGZ.jpg");
	
  color:blue;
  width: 1000px;
 padding-left: 20vw;
  padding-right: 20vw;
}
header{ text-align: center;

  background-color:blue;
  color:white;
  height: 200px;
  
  
  
}

div.header{

  font-family: arial;
 
}
span{
  display:inline-block;
  vertical-align:middle;

}

.main{
	width: 1000px;
	height: 100vw;
	background-color: white;
	
	
	
	
}
div.gegevens{
  border-width:3px;
  border-color:#cecece;
  border-style:solid;
  border-top-width:10px;
  margin-top: 20px;
  margin: 20px auto;
  width: 700px;
  height: 160px;
  font-family: courier;
  background-color:black;
  color:#48ff00;
 

}
div.gegevensextra{
  border-width:3px;
  border-color:#cecece;
  border-style:solid;
  border-top-width:10px;
  margin-top: 20px;
  margin: 20px auto;
  width: 700px;
  height: 180px;
  font-family: courier;
  background-color:black;
  color:#48ff00;


}
span.gegevens{
  margin-left:10px;
  vertical-align:middle;
}
