

body{ 
	background-color: blue;
  color:white;
  width: 100vw;
  margin-left: auto;
}
header{ text-align: center;

  background-color:white;
  color:blue;
  height: 200px;
  
  
  
}

div.header{

  color:red;
 
}
span{
  display:inline-block;
  vertical-align:middle;

}

div.gegevens{
  border-width:1px;
  border-color:#cecece;
  border-style:solid;
  border-top-width:10px;
  margin-top: 20px;
  margin-left:25vw;
  width: 50vw;
  height: 100px;
  font-family: courier;
  background-color:black;
  color:#48ff00;
  display:inline-block;

}
span.gegevens{
  margin-left:10px;
  vertical-align:middle;
}
